In [1]:
#Import pacakages
import numpy as np
import pandas as pd

In [11]:
#load data
data_1960_2000 = pd.read_csv('./Datasets/Population Estimation and Projection 1960-2000.csv',low_memory=False)
data_2001_2050 = pd.read_csv('./Datasets/Population Estimation and Projection 2001-2050.csv',low_memory=False)

In [13]:
data_1960_2000.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000]
0,Afghanistan,AFG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,81.617265593364,82.6886781269233,83.2893702677964,83.6040745667416,83.8538402296331,84.1305132205961,...,101.855829678157,101.572891363737,101.497709604882,101.361665767309,100.751043096938,101.779455410549,102.821757539625,103.650785887861,104.275818919765,104.856398128094
1,Afghanistan,AFG,"Age dependency ratio, old",SP.POP.DPND.OL,5.08221355458813,5.13013875077877,5.1396410434319,5.11552596472367,5.06374943823744,4.98789855835,...,4.52627613429353,4.55426302653287,4.6010207759227,4.66732341775973,4.7544225968921,4.78092518838318,4.78444369236508,4.76853617345827,4.73774444597141,4.69519414570861
2,Afghanistan,AFG,"Age dependency ratio, young",SP.POP.DPND.YG,76.5350520387758,77.5585393761445,78.1497292243645,78.4885486020179,78.7900907913956,79.1426146622461,...,97.3295535438638,97.0186283372037,96.8966888289588,96.6943423495494,95.9966205000458,96.9985302221662,98.0373138472597,98.8822497144027,99.5380744737941,100.161203982385
3,Afghanistan,AFG,"Age population, age 00, female, interpolated",SP.POP.AG00.FE.IN,179444,183622,186652,189120,191947,195861,...,273916,299873,330535,358351,378248,402557,418506,429267,439554,452431
4,Afghanistan,AFG,"Age population, age 00, male, interpolated",SP.POP.AG00.MA.IN,178269,182276,186730,191614,196930,202678,...,286375,314981,348529,378050,397708,423136,438162,447257,456858,471059

In [12]:
data_2001_2050.head()

,Country Name,Country Code,Series Name,Series Code,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],...,2041 [YR2041],2042 [YR2042],2043 [YR2043],2044 [YR2044],2045 [YR2045],2046 [YR2046],2047 [YR2047],2048 [YR2048],2049 [YR2049],2050 [YR2050]
0,Afghanistan,AFG,Age dependency ratio (% of working-age populat...,SP.POP.DPND,104.4761044,103.6711825,102.6632376,101.5623706,100.3491273,100.9709431,...,52.72164136,51.97328642,51.2542814,50.56495286,49.9052725,49.30917015,48.73585079,48.18515132,47.65691464,47.15251821
1,Afghanistan,AFG,"Age dependency ratio, old",SP.POP.DPND.OL,4.645423995,4.594511322,4.546036496,4.501744119,4.462753572,4.525504924,...,6.229104518,6.383743014,6.546271532,6.718560434,6.902432897,7.103865914,7.312558214,7.528320998,7.74944603,7.976487074
2,Afghanistan,AFG,"Age dependency ratio, young",SP.POP.DPND.YG,99.83068044,99.07667119,98.11720111,97.06062647,95.88637373,96.44543818,...,46.49253685,45.58954341,44.70800987,43.84639242,43.0028396,42.20530424,41.42329258,40.65683032,39.90746861,39.17603113
3,Afghanistan,AFG,"Age population, age 00, female, interpolated",SP.POP.AG00.FE.IN,461460,472676,484508,495002,503067,514035,...,572000,570000,567000,565000,562000,558000,555000,551000,548000,544000
4,Afghanistan,AFG,"Age population, age 00, male, interpolated",SP.POP.AG00.MA.IN,481869,496831,512890,526132,534272,544627,...,602000,599000,597000,594000,591000,587000,584000,580000,577000,573000

In [14]:
pop_est = pd.concat([data_1960_2000, data_2001_2050], axis=1, join="outer")

In [ ]:
pop_est.head()